.header{
    width:900px;
    height:50px;
    margin-top:20px;

}
.logo{
    margin-left:35px;
    margin-top:10px;
    float:left;

}
.menu{
    width:500px;
    height:30px;
}
* {
    padding:0;
    margin:0px;
    font-family:roboto;

}
body{
    background-color:white;

}
ul{
    list-style:none;
    background-color:white;
    text-align:center;
    margin-top:5px;
    margin-left:133px;
    display:inline;
}
ul li{
    display:inline-block;
    position:relative;
    
}
.m1{
    display: inline-block;
    float: left;
    width: 956px;
    margin-top: -52px;
    margin-left: 182px;
}
ul li a{
    display:block;
    padding:20px 25px;
    font-size:15px;
    color:black;
    text-decoration: none;
    text-align:center;
    width:120px;

    
}
ul li ul.dropdown li{
    display:block;
    background:white;
    margin:2px 0px;

    
}
ul li ul.dropdown{
    width:auto;
    background:white;
    position:absolute;
    z-index: 999;
    display:none;
}
ul li a:hover{
    background:white;
}
ul li:hover ul.dropdown{
    display:inline-block;
    width:200px;
}



.body{
    margin:0px;
}
.sec1{
    min-width: 100%;
    position: relative;
    margin-left: -9px;
    margin-top:12px;
    padding: 35px;
    background-image: url(https://images.railyatri.in/ry_images_prod/headerbackground-1681363741.png);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 360px;
    height: 370px;
}
.home{
    color:white;
    margin-top: -4px;
    font-size: 13px;
    margin-left:10px;
}
.heading1{
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 59px;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: #ffffff;
    font-size: 26px;
}
.body{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.heading2{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    margin-top: 5px;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    opacity: 0.7;
    font-style: italic;
}
.main-tab{
    max-width: 93.5%;
    
    margin-left: 21px;
   
    background: white;
    border-radius: 5px;
    display: flex;
    height:56px;
    margin-top:45px;
}
.tab1{
    padding-left: 14px;
    outline: none;
    border: none;
}
.from{
    outline: none;
    border: none; 
    color:black;
}
.to{
    outline: none;
    border: none;
    margin-left:42px;
    color:black;
}


.img-arrow{
 
    margin-top: 15px;
    margin-left: 181px;
}
.dep{
    color: #212121;
    font-size: 12px;
    margin-top:5px;
    margin-left: 183px;
    margin-bottom:-11px;
    
}
.calender{
    margin-top: 14px;
    margin-left: 28px;
   
    
}
.cal-tab{
    
    margin-top:13px;
    margin-left:181px;
   
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: #333333;
    font-size: 20px;
    font-weight: 700;
}
.d1{
    text-decoration: none;
    color:black;
}
.c1{
    
    border:solid 0.5px;
    text-align:center;
    box-sizing: border-box;
    margin-left: 24px;
    width: 60px;
    height: 42px;
    margin-top: 7px;
    padding-top: 4px;
    border-radius:5px;
    text-decoration: none;
    float:left;
}

.c2{
    
    border:solid 0.5px;
    border-radius:5px;
    text-align:center;
    box-sizing: border-box;
    margin-left:5px;
    width: 60px;
    height: 42px;
    margin-top: 7px;
    padding-top: 4px;
    text-decoration: none;
    float:left;
}

.c3{
   
    border:solid 0.5px;
    text-decoration: none;
    border-radius:5px;
    text-align:center;
    box-sizing: border-box;
    margin-left:5px;
    width: 60px;
    height: 42px;
    margin-top: 7px;
    padding-top: 4px;
    float:left;
}
.date-icon{
    width: 11px;
    height: 20px;
    margin-top: -28px;
    margin-left: 280px;
}
.c{
    float:left;
    margin-left:46px;
}
#train{
    
    width: 186px;
    margin-top: -49px;
    height: 56px;
    margin-left: 249px;
    color: white;
    border-radius: 0px 5px 5px 0px;
    background: #1779D7;
    text-transform: capitalize;
    font-size: 16px;
    border-color: #1779D7;
    float:left;
   
    
}
.why{
    
    margin-left: 44px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    font-weight: 500;
    font-size: 24px;
    margin-top: -7px;

}
.images4{
    margin-left:44px;

}
.images5{
    margin-left:44px;
    padding-inline: 5px;
}
.gov{

    margin-left: 44px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    font-weight: 500;
    font-size: 24px;
    margin-top: 40px;
}
.para{
    font-size:15px;
    margin-left:44px;
    line-height: 1.5;
    font-weight: 100;
    color: black;
    margin-bottom: 16px;
}
.why1{
    margin-left: 44px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    font-weight: 500;
    font-size: 24px;
    margin-top: 30px;
    text-align: center;
}
table{
    border-collapse: collapse;
    width:800px;
    margin-left:300px;
    border: 1px solid #ddcece;
}
td,tr{
    height:40px;
    width:200px;
    border-radius: 5px;
  font-size:15px;
    background-color: transparent;
    padding-left:40px;
    border: 1px solid grey;
    border-collapse: collapse;
    
   
}
 td:nth-child(1) 
 {
    background-color:#f0f7fa;
 }  

.body{
    margin:0;
    background:#f1f1f1;
}

 .faqs{
    background:#f1f1f1;
    margin-left:0px;
    padding-left:50px;
    padding-top:20px;
    padding-bottom:10px;
    margin-bottom: 6px;
    
 }
 .ques{
    font-size: 15px;
    font-weight:bold;
    inline-size: 1.5;
    margin-bottom:7px;
    font-family: Lato, sans-serif;
    margin-top:5px;
 }
 .ans{
    margin-bottom:7px;
    inline-size: 1.5;
    margin: 0;
    font-family: Lato, sans-serif;
    font-weight: 400;
    
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
 }
 .apppart{
    
    margin: auto;
    padding-top: 32px;
    height:300px;
    background:#f1f1f1;
   
 }
 .app{
    padding-left:200px;
    padding-top:50px;
    position:relative;
    float:left;
    margin-bottom:20px;
 }
 .wallet{
float:left;

 }
 .text1{
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 4px;
    line-height: 1.5;
    margin-left: 46px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
 }
 .text2{
    font-size: 18px;
    color: #000;
    opacity: .8;
    margin-bottom: 34px;
    margin-left: 46px;
 }
 .playimag{
    padding-left:20px;
 }
 .final-part{
    margin-top:200px;
    box-sizing: border-box;
    width:100%;

 }

 .features{
    float:left;
    text-decoration: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    margin-left:120px;
    width:100px;
    
 }
 .hd{
    line-height: 1.5;
 }
 .lists{
    text-decoration: none;
    font-size:16px;
    line-height:1;
 }
 .book{
    float:left;
 }
 .infom{
    float:left;
 }
 .family{
    float:left;
 }